@theme {
  --color-*: initial;

  --color-primary-50: oklch(98.87% 0.03 106.87);
  --color-primary-100: oklch(97.7% 0.07 108.5);
  --color-primary-200: oklch(96.26% 0.13 108.62);
  --color-primary-300: oklch(94.05% 0.16 106.67);
  --color-primary-400: oklch(89.35% 0.18 103.42);
  --color-primary-500: oklch(82.94% 0.17 99.64);
  --color-primary-600: oklch(71.06% 0.14 91.06);
  --color-primary-700: oklch(57.92% 0.12 82.03);
  --color-primary-800: oklch(49.71% 0.1 76.97);
  --color-primary-900: oklch(43.73% 0.08 71.01);
  --color-primary-950: oklch(29.78% 0.06 67.55);

  --color-secondary-50: oklch(96.97% 0.01 119.58);
  --color-secondary-100: oklch(92.97% 0.02 123.98);
  --color-secondary-200: oklch(86.57% 0.03 123.88);
  --color-secondary-300: oklch(77.98% 0.05 125.17);
  --color-secondary-400: oklch(69.41% 0.07 126.86);
  --color-secondary-500: oklch(57.5% 0.07 127.58);
  --color-secondary-600: oklch(50.56% 0.06 128.2);
  --color-secondary-700: oklch(42.62% 0.05 127.94);
  --color-secondary-800: oklch(37.38% 0.04 129.7);
  --color-secondary-900: oklch(34.24% 0.03 130.61);
  --color-secondary-950: oklch(23.03% 0.02 127.88);

  --color-highlight-50: oklch(97.6% 0 337.35);
  --color-highlight-100: oklch(95.57% 0.01 341.81);
  --color-highlight-200: oklch(91.41% 0.02 342.06);
  --color-highlight-300: oklch(84.46% 0.04 341.56);
  --color-highlight-400: oklch(74.38% 0.06 344.76);
  --color-highlight-500: oklch(65.94% 0.08 345.98);
  --color-highlight-600: oklch(58.27% 0.08 350.09);
  --color-highlight-700: oklch(50.03% 0.08 352.2);
  --color-highlight-800: oklch(44.42% 0.07 352.67);
  --color-highlight-900: oklch(40.22% 0.05 352.48);
  --color-highlight-950: oklch(27.64% 0.04 352.31);

  --color-gray-50: oklch(97.59% 0 264.54);
  --color-gray-100: oklch(94.87% 0.01 264.53);
  --color-gray-200: oklch(88.69% 0.01 259.82);
  --color-gray-300: oklch(78.33% 0.03 261.13);
  --color-gray-400: oklch(66.43% 0.04 256);
  --color-gray-500: oklch(55.42% 0.05 257.53);
  --color-gray-600: oklch(48.56% 0.04 259.21);
  --color-gray-700: oklch(42.16% 0.04 260.56);
  --color-gray-800: oklch(38.05% 0.03 259.74);
  --color-gray-900: oklch(34.73% 0.02 262.78);
  --color-gray-950: oklch(26.85% 0.02 266.3);

  --color-white: #ffffff;
  --color-black: #000000;
}
