/*
  -------------
  Button
  -------------
*/

/* Button - Variants */

.button-base {
  @apply inline-flex items-center justify-center rounded border-2 border-black font-medium shadow-sharp transition duration-75 hover:translate-x-px hover:translate-y-px hover:shadow-sharp-pressed focus-visible:ring-2 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50;
}
.button-primary {
  @apply bg-primary-300 text-black;
}
.button-secondary {
  @apply bg-secondary-400 text-black;
}
.button-outline {
  @apply bg-white text-gray-900;
}
.button-ghost {
  @apply border-dotted text-gray-900 shadow-none hover:translate-0 hover:bg-gray-50 hover:shadow-none focus-visible:ring-gray-900;
}

/* Button - Sizes */
.button-size-sm {
  @apply h-6 rounded px-3 py-1.5 text-sm;
}
.button-size-md {
  @apply h-10 rounded-md px-4 py-2 text-base;
}
.button-size-lg {
  @apply rounded-lg px-6 py-3 text-lg;
}
.button-size-xl {
  @apply rounded-xl px-8 py-4 text-xl;
}

.button-size-square {
  @apply rounded-md p-1.5 text-base;
}

/*
  -------------
  Card
  -------------
*/

/* Card - Variants */
.card-default {
  @apply rounded-lg bg-white p-6 shadow-md;
}
.card-bordered {
  @apply rounded-lg border-6 border-dotted border-primary-300 bg-white p-6 transition-colors duration-100 hover:border-primary-400;
}
.card-elevated {
  @apply rounded-lg bg-white p-6 shadow-lg;
}

/*
  -------------
  Tag
  -------------
*/

/* Tag - Base */
.tag-base {
  @apply inline-flex items-center justify-center rounded-md font-medium;
}

/* Tag - Variants */
.tag-primary {
  @apply bg-primary-100 text-primary-700;
}
.tag-secondary {
  @apply bg-secondary-100 text-secondary-700;
}
.tag-highlight {
  @apply bg-highlight-100 text-highlight-700;
}
.tag-gray {
  @apply bg-gray-100 text-gray-700;
}

/* Tag - Sizes */
.tag-size-sm {
  @apply px-2 py-1 text-xs;
}
.tag-size-md {
  @apply px-3 py-1.5 text-sm;
}
.tag-size-lg {
  @apply px-4 py-2 text-base;
}
