@theme {
  --font-sans: var(--font-inter);
}

@layer base {
  /* body {
    @apply bg-white font-serif text-black;
  } */

  /* h1,
  h2,
  h3,
  h4 {
    @apply font-sans;
  } */
  /* 
  h1 {
    @apply my-8 text-4xl leading-16 font-bold md:text-6xl md:leading-24;
  }

  h2 {
    @apply mb-2 text-3xl font-bold;
  }

  h3 {
    @apply my-8 font-normal;
  }

  h4 {
    @apply text-2xl font-bold;
  }

  h5 {
    @apply font-serif text-sm font-normal;
  }

  p {
    @apply mb-2 font-serif text-sm font-normal;
  }

  span:not(p *) {
    @apply font-sans;
  }  */
}
