@theme {
  --font-sans: var(--font-inter);

  --text-sm: 0.625rem;
  --text-base: 0.875rem;
  --text-lg: 1rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.4rem;
  --text-3xl: 1.75rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.5rem;
  --text-6xl: 3.5rem;
}

@layer base {
  h1 {
    @apply text-4xl md:text-6xl;
  }

  h2 {
    @apply text-3xl md:text-5xl;
  }

  h3 {
    @apply text-xl md:text-2xl;
  }

  h4 {
    @apply text-base;
  }

  p {
    @apply text-sm md:text-base;
  }
}
