---
import SectionLayout from '@layouts/SectionLayout.astro';
import { marked } from 'marked';
export interface Props {
  background: string;
  content: string;
  class?: string;
}

const { background, content, class: className = '' } = Astro.props;

const backgrounds = {
  white: 'bg-white',
  gray: 'bg-gray-50',
  gradient: 'bg-gradient-to-br from-blue-50 to-indigo-100',
};


const bgClass = backgrounds[background as keyof typeof backgrounds] || backgrounds.white;

// TODO: #2 have Astro parse images retrieved from YAML
marked.use({
  renderer: {
    image({ href, tokens }) {
      const altText = this.parser.parseInline(tokens);
      return `<img src="${href}" alt="${altText}" />`;
    },
  },
});
const html = marked.parse(content)

console.log(content);
---

<SectionLayout bgColor={bgClass}>
	<div class="mx-auto prose max-w-3xl">
		<Fragment set:html={html} />
	</div>
</SectionLayout>
