---
import { getCollection } from 'astro:content';
import Button from '@components/atoms/Button.astro';
import Hero from '@components/organisms/Hero.astro';
import type { Person } from '@components/organisms/Person.astro';
import PeopleSection from '@components/sections/PeopleSection.astro';
import sections from '@content/sections.json';
import PageLayout from '@layouts/PageLayout.astro';

// Get all people from the collection (images are automatically resolved)
const peopleEntries = await getCollection('people');
const people: Person[] = peopleEntries.map((entry) => entry.data);
---

<PageLayout
	title="About Us - DraftLab Scaffold"
	description="Meet the team behind DraftLab Scaffold"
>
	<!-- Hero Section -->
	<Hero
		title="About Us"
		subtitle="We are a group of people who don't exist really! We're just here to populate the website."
		size="default"
		background="white"
	>
		<p class="text-center">
			Thank you <Button
				type="button"
				as="a"
				href="https://www.dicebear.com"
				variant="primary"
				size="md">Dicebear</Button
			> and <Button
				type="button"
				as="a"
				href="https://www.openpeeps.com"
				variant="secondary"
				size="md">Open Peeps!</Button
			>
		</p>

		<!-- People Sections -->
		{
			sections.map((section) => (
				<PeopleSection people={people} section={section} />
			))
		}
	</Hero>
</PageLayout>
